/* .login {
    position: relative;
} */
.login__container {
    padding: 100px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    text-align: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,.12),
     0 1px 2px  rgba(0,0,0,.28);
     display: flex;
     flex-direction: column;
     align-items: center;
}
.login__container >img {
    object-fit: contain;
    height: 100px;
    margin-bottom: 2rem;
}

 .button{
    margin-top: 100px;
    background: #0a8d48 !important;
    color: white;
}