.sidebarOption {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-left: 2px;
    cursor: pointer;

}
 .sidebarOption:hover { 
     background: #340e36;
 }
 
 .sidebarOption__channel {
     padding: 10px 0;
 }
.sidebarOption__hashtag{
    padding: 10px;
}
.sidebarOption >h3{
    font-weight: 500;
}